body {
    background-image: url(images/fondo.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 25px;
    text-align: justify;
}

li {
    font-size: 25px;
    text-align: justify;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: fit-content;
}
/* Clases */
.head {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 15vh;
    margin: 10px;
    display: flex;
    background-color: #a03e0a;
}

.back {
    font-size: 20px;
    color: #631a04;
    background-color: #ffe1d9;
    border-style: solid;
    border-width: 0;
    flex: 1;
    margin: 5px;
}

.back:hover {
    color: #73544b;
    background-color: #d56253;
}

.title {
    font-size: 20px;
    justify-items: center;
    flex:8;
    margin: 5px;
    color: white;
}

.info {
    display: flex;
    justify-self: center;
    margin: 20px;
    width: 100vh;
    height: 150vh;
    padding: 10px;
}

.content_area {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 2.5;
    gap: 10px;
}

.uses {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin: 5px;
    flex: 1.5;
    background-color: #631a04;
    color: white;
}

.area {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 15px;
    flex: 2;
    background-color: #d56253;
    color: black;
}

.photo {
    flex: 1;
}