/* SECCIÓN DE CLASES */
/* ETIQUETAS */
body {
    background-image: url(images/fondo.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 22px;
    text-align: center;
}
/* DIV */
.head {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px;
    text-align: center;
    margin: 2vh;
    height: 16vh;
    background-color: #a03e0a;
    color: white;
}

.contenedor {
    margin: 2vh;
    height: 76vh;
    display: flex;
    gap: 10px;
}

.info {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    background-color: #d56253;
}

.s_info {
    flex: 2;
}

.i_info {
    flex: 1;
}

.ascensor {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.piso {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    flex: 1;
    display: flex;
    background-color: #631a04;
    padding: 10px;
    margin: 10px 0;
}

.piso_nombre {
    color: #ffe1d9;
    flex: 4;
    padding: 10px;

}

.puerta {
    font-size: 20px;
    color: #631a04;
    background-color: #ffe1d9;
    border-style: solid;
    border-width: 0;
    flex: 1;
    margin: 5px 0;
}

.puerta:hover {
    color: #73544b;
    background-color: #d56253;
}